@model IEnumerable<C6Consulting.Models.Livro>
@{
    ViewData["Title"] = "Livros";
}



<div class="row">
    <a class="btn btn-success btn-sm" href="/Home/Create">Novo Livro</a>
    <table id="datatable" class="table table-striped table-lightfont dataTable order-column dataTable1">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Ano Publicação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Livro</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Ano Publicação</th>
                <th>Ações</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Editora)</td>
                    <td>@Html.DisplayFor(modelItem => item.AnoPublicacao)</td>
                    <td class="row-actions">
                        <a href="@String.Format("{0}/{1}", Url.Action("Edit"), item.Id)" title="Editar registro">Editar</a> |
                        <a href="@String.Format("{0}/{1}", Url.Action("Delete"), item.Id)"  title="Excluir registro" >Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
